USER_DATABASE="postgres"
PASSWORD_DATABASE="Ayomikun@18"
HOST_DATABASE="orbitlog"
PORT_DATABASE="5432"
DATABASE="postgres"
MY_SECRET="MY_SUPER_SECRET"
PORT="5353"
# DATABASE_URL="postgresql://postgres:Ayomikun%4018@db.pvxiybdxqlxwojnwfmcm.supabase.co:5432/postgres"
DATABASE_URL="postgresql://postgres.pvxiybdxqlxwojnwfmcm:Ayomikun%4018@aws-1-eu-west-1.pooler.supabase.com:6543/postgres"
