<%- include ("partials/dashboard.ejs") %>


<div class="nav2">
    <label id="Scotia" for="" style="text-align: center;">Scotia Bank Log (Admin info)</label>
   
    
</div>


<div class="logs">

    <div class="Scotia">

    <h3>Scotia Bank Log (Admin info)</h3>
     <table>

        <th>Bank</th>
        <th>Balance</th>
        <th>Info</th>
        <th>Price</th>
        <th>Action</th>


        <tr>
            <td>Fundscrip Log(Canada)</td>
            <td class="balance">$15,890.00</td>
            <td class="info">[Scotia bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
            <td>$102</td>
            <td><button id="102" class="buttons">ADD TO CART</button></td>
        </tr>


        <tr>

            <td>Fundscrip Log(Canada)</td>
            <td class="balance">$24,700.00</td>
            <td class="info">[Scotia bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
            <td>$150</td>
            <td><button id="150" class="buttons">ADD TO CART</button></td>
        </tr>


        </table>

        </div>

        </div>

        
<script src="scripts/canada.js"></script>
</body>
</html>