<%- include ("partials/dashboard.ejs") %>


<div class="nav2">
    <label id="USA" for="">USA Checks</label>
    <label id="Canada" for="">Canada Checks</label>
    <label id="Company">Company fullz log</label>
    
</div>


<div class="logs">

    <div class="USA ">

    <h3>USA Checks</h3>
     <table>

        <th>Bank</th>
        <th>Balance</th>
        <th>Info</th>
        <th>Price</th>
        <th>Action</th>


        <tr>
            <td colspan="10">No available logs found</td>
            
        </tr>


</table>


</div>





</div>