<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script type="module" src="scripts/app.js" defer></script>
</head>
<body>
   
    
<nav>
    <div class="logoDiv">
        <h2> ORBITLOGS </h2>
    </div>

    <div class="cta">
        <p>Balance <span>$0</span></p>
       <p class="navList"> <a id="linkNav" href="cart"><i class="fa-solid fa-cart-shopping"></i><span id="currentBalance"><%= cookieValue %></span> </a> </p>
       <p class="navList">  <i class="fa-solid fa-user"> </i><%= user %></p>
       <a href="/logout">Logout</a>
    </div>
</nav>

    <section class="list">
  <div class="left-items">
        <ul class="banks">
            <li id="usa"> <a href="usa"> USA BANKS </a> </li>
            <li id="shop"> <a href="shopWith"> SHOPWITHSCRIPT </a> </li>
            <li id="uk"> <a href="uk"> UK BANKS  </a> </li>
            <li id="other"> <a href="others"> OTHER TOOLS  </a></li>
            <li id="company"> <a href="company"> COMPANY FULLZ </a></li>
            <li id="canada"><a href="canada">CANADA BANK </a> </li>
        </ul>
  </div>

<div class="textItems">\
    <div class="right-items" id="textDiss">
        <h2>WELCOME TO <span>ORBITLOGS </span></h2>

        <p>Our store boasts a self-written engine, anti-DDoS system, abuzoustoychivym server. Do not keep any logs! Attention! New return format. After buying the goods, you will have a countdown on the return time, at the moment it is 2 hours, which is enough to check your account. Please specify the correct gills and always attach screenshots, otherwise the return will be denied! Clients ' personal data is stored in a database with non-standard encryption and guaranteed security.</p>
    </div>

    <div id="textFAQ" class="faq">
        <h3>FAQ</h3> 

    <ol>
        <li> Refund can only be done 6 hours after purchase</li>
        <li> It is forbidden to transfer their accounts and link to the shop 3rd parties</li>
        <li>For all questions, please contact the chat directly in the shop, or in support@ORBITLOGS</li>
        <li>Replacement of nevalid - return the cost of the account to the account in your personal account</li>
        <li>Inactive for a month accounts - delete!</li>
        <li>For non-compliance with the rules - account deletion without the right of restoration.</li>
    </ol>
    
        <p>ACCORDING TO THE RULES OF REFUND WRITING AND SPECIFY IN THE GILLS BEFORE YOU BUY!</p>

    </div>
</div>


<!-- <div id="branches" class="branches">


    <div class="shop Diss">

        <h3>SHOPWITHSCRIPT BANKS</h3>

        <ul class="logsList">
            <li>
                <p>ShopwithScript Log</p>
                <p>31 available logs</p>
            </li>
            <li>
                <p>Fundscrip Log</p>
                <p>3 available logs</p>
            </li>

        </ul>
    </div>

    <div class="uk Diss">

        <h3>UK BANKS</h3>

        <ul class="logsList">
            <li>
                <p>Huntington Log (log + pass)</p>
                <p>5 available logs</p>
            </li>
            <li>
                <p>Lloyd bank log (full info)</p>
                <p>7 available logs</p>
            </li>
            <li>
                <p>Barclays Bank (full info)</p>
                <p>3 available logs</p>
            </li>

        </ul>
    </div>

    <div class="other Diss">

        <h3>Other BANKS</h3>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos nobis eligendi voluptatibus nisi, accusamus consectetur quasi incidunt vero? Atque perspiciatis tempora asperiores nulla est placeat perferendis, eum nam quos molestias.</p>
    
    </div>

    <div class="company Diss">

        <h3>Company FULLZ</h3>

        <ul class="logsList">
            <li>
                <p>USA checks</p>
                <p>3 available logs</p>
            </li>
            <li>
                <p>Canada checks</p>
                <p>5 available logs</p>
            </li>
            <li>
                <p>Company fullz log</p>
                <p>7 available logs</p>
            </li>
        </ul>
    </div>

    <div class="canada Diss">

        <h3>CANADA BANKS</h3>
        <ul class="logsList">
            <li>
                <p>Scotia bank log (Admin info)</p>
                <p>3 available logs</p>
            </li>
        </ul>
    </div>

</div>

<div id="USABanksContent">

   
    
</div>

</section> -->
</body>
</html>