<%- include ("partials/dashboard.ejs") %>

<div class="nav2">
    <label id="Chase" for="">Chase credit cards info</label>
    <label id="Coinbase" for="">Coinbase Log</label>
    <label id="Cashapp">Cashapp Log</label>
    <label id="TWOFA">2FA Code Bypass log</label>
    <label id="COINZOOM">COINZOOM log</label>
    <label id="Dumps">DUMPS log</label>
    <label id="CPN">CPN & DUMPS TUT log</label>
    <label id="RDP">RDP USA</label>
    <label id = "WEB">WEBMAIL</label>
   
</div>


<div class="Logs">

    <div class="Chase">

        <h3>CHASE CREDIT CARD INFO</h3>
         <table>

            <th>Bank</th>
            <th>Balance</th>
            <th>Info</th>
            <th>Price</th>
            <th>Action</th>


            <tr>
                <td>Chase credit cards info</td>
                <td class="balance">$12,600.00</td>
                <td  class="info">Visa cc - live [ online access] + [address] + [email username and password]	</td>
                <td>$60</td>
                <td><button id="60" class="buttons">ADD TO CART</button></td>
            </tr>
            <tr>
                <td>Chase credit cards info</td>
                <td class="balance">$8,500.00</td>
                <td  class="info">Visa cc - live [ online access] + [address] + [email username and password]	</td>
                <td>$50</td>
                <td><button id="50" class="buttons">ADD TO CART</button></td>
            </tr>



            <tr>
                <td>Chase credit cards info</td>
                <td class="balance">$5,700.00</td>
                <td  class="info">Visa cc - live [ online access] + [address] + [email username and password]	</td>
                <td>$40</td>
                <td><button id="40" class="buttons">ADD TO CART</button></td>
            </tr>



            <tr>
                <td>Chase credit cards info</td>
                <td class="balance">$3,200.00</td>
                <td  class="info">Visa cc - live [ online access] + [address] + [email username and password]	</td>
                <td>$30</td>
                <td><button id="30" class="buttons">ADD TO CART</button></td>
            </tr>




</table>


</div>




    <div class="Coinbase Diss">

        <h3>Coinbase Log</h3>
         <table>

            <th>Bank</th>
            <th>Balance</th>
            <th>Info</th>
            <th>Price</th>
            <th>Action</th>


            <tr>
                <td>Coinbase Log</td>
                <td class="balance">$0.00</td>
                <td  class="info">[Email access+Email+Login password]
                <td>$70</td>
                <td><button id="70" class="buttons">ADD TO CART</button></td>
            </tr>


            <tr>
                <td>Coinbase Log</td>
                <td class="balance">$0.00</td>
                <td  class="info">[Email access+Email+Login password]
                <td>$70</td>
                <td><button id="70" class="buttons">ADD TO CART</button></td>
            </tr>
            <tr>
                <td>Coinbase Log</td>
                <td class="balance">$0.00</td>
                <td  class="info">[Email access+Email+Login password]
                <td>$70</td>
                <td><button id="70" class="buttons">ADD TO CART</button></td>
            </tr>
            <tr>
                <td>Coinbase Log</td>
                <td class="balance">$0.00</td>
                <td  class="info">[Email access+Email+Login password]
                <td>$70</td>
                <td><button id="70" class="buttons">ADD TO CART</button></td>
            </tr>
            <tr>
                <td>Coinbase Log</td>
                <td class="balance">$0.00</td>
                <td  class="info">[Email access+Email+Login password]
                <td>$70</td>
                <td><button id="70" class="buttons">ADD TO CART</button></td>
            </tr>
</table>


</div>


    <div class="Cashapp Diss">

        <h3>Cashapp Log</h3>
         <table>

            <th>Bank</th>
            <th>Balance</th>
            <th>Info</th>
            <th>Price</th>
            <th>Action</th>


            <tr>
                <td>Cashapp Log</td>
                <td class="balance">$10,280.00</td>
                <td  class="info">Cash app BTC enable,fully verified, email access,max transaction limit per day is high
                <td>$200</td>
                <td><button id="200" class="buttons">ADD TO CART</button></td>
            </tr>


            <tr>
                <td>Cashapp Log</td>
                <td class="balance">$5,800.00</td>
                <td  class="info">Cash app BTC enable,fully verified, email access,max transaction limit per day is high
                <td>$105</td>
                <td><button id="105" class="buttons">ADD TO CART</button></td>
            </tr>
            
</table>


</div>

    <div class="TWOFA Diss">

        <h3>2FA Code Bypass</h3>
         <table>

            <th>Bank</th>
            <th>Balance</th>
            <th>Info</th>
            <th>Price</th>
            <th>Action</th>


            <tr>
                <td colspan="10">No available logs found</td>
                
            </tr>


</table>


</div>




<div class="COINZOOM Diss">

    <h3>COINZOOM Log</h3>
     <table>

        <th>Bank</th>
        <th>Balance</th>
        <th>Info</th>
        <th>Price</th>
        <th>Action</th>


        <tr>
            <td>COINZOOM Log</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Email access+Email+Login password]
            <td>$70</td>
            <td><button id="70" class="buttons">ADD TO CART</button></td>
        </tr>


        
        <tr>
            <td>COINZOOM Log</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Email access+Email+Login password]
            <td>$70</td>
            <td><button id="70" class="buttons">ADD TO CART</button></td>
        </tr>
        <tr>
            <td>COINZOOM Log</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Email access+Email+Login password]
            <td>$70</td>
            <td><button id="70" class="buttons">ADD TO CART</button></td>
        </tr>
        <tr>
            <td>COINZOOM Log</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Email access+Email+Login password]
            <td>$70</td>
            <td><button id="70" class="buttons">ADD TO CART</button></td>
        </tr>
        <tr>
            <td>COINZOOM Log</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Email access+Email+Login password]
            <td>$70</td>
            <td><button id="70" class="buttons">ADD TO CART</button></td>
        </tr>
        <tr>
            <td>COINZOOM Log</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Email access+Email+Login password]
            <td>$70</td>
            <td><button id="70" class="buttons">ADD TO CART</button></td>
        </tr>
        <tr>
            <td>COINZOOM Log</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Email access+Email+Login password]
            <td>$70</td>
            <td><button id="70" class="buttons">ADD TO CART</button></td>
        </tr>
        
</table>


</div>


<div class="Dumps Diss">

    <h3>Dumps</h3>
     <table>

        <th>Bank</th>
        <th>Balance</th>
        <th>Info</th>
        <th>Price</th>
        <th>Action</th>


        <tr>
            <td colspan="10">No available logs found</td>
            
        </tr>


</table>

</div>




<div class="CPN Diss">

    <h3>CPN & DUMPS TUTT</h3>
     <table>

        <th>Bank</th>
        <th>Balance</th>
        <th>Info</th>
        <th>Price</th>
        <th>Action</th>


        <tr>
            <td>CPN & DUMPS TUT</td>
            <td class="balance">$0.00</td>
            <td  class="info">Clone Cards, Cashout Dumps, Create Cpn etc
            <td>$200</td>
            <td><button id="200" class="buttons">ADD TO CART</button></td>
        </tr>


        <tr>
            <td>CPN & DUMPS TUT</td>
            <td class="balance">$0.00</td>
            <td  class="info">Clone Cards, Cashout Dumps, Create Cpn etc
            <td>$200</td>
            <td><button id="200" class="buttons">ADD TO CART</button></td>
        </tr>
</table>


</div>




<div class="RDP Diss">

    <h3>RDP USA</h3>
     <table>

        <th>Bank</th>
        <th>Balance</th>
        <th>Info</th>
        <th>Price</th>
        <th>Action</th>


        <tr>
            <td>RDP USA</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Login+Password][Login+Password]
            <td>$50</td>
            <td><button id="50" class="buttons">ADD TO CART</button></td>
        </tr>


        <tr>
            <td>RDP USA</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Login+Password][Login+Password]
            <td>$50</td>
            <td><button id="50" class="buttons">ADD TO CART</button></td>
        </tr>
        <tr>
            <td>RDP USA</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Login+Password][Login+Password]
            <td>$50</td>
            <td><button id="50" class="buttons">ADD TO CART</button></td>
        </tr>
        <tr>
            <td>RDP USA</td>
            <td class="balance">$0.00</td>
            <td  class="info">[Login+Password][Login+Password]
            <td>$50</td>
            <td><button id="50" class="buttons">ADD TO CART</button></td>
        </tr>
</table>


</div>




<div class="WEB Diss">

    <h3>WEBMAIL</h3>
     <table>

        <th>Bank</th>
        <th>Balance</th>
        <th>Info</th>
        <th>Price</th>
        <th>Action</th>


        <tr>
            <td>WEBMAIL</td>
            <td class="balance">$3735.00</td>
            <td  class="info">[Webmail.com Online Access]+[password + username ]+[ Address]+[Email Access]
            <td>$50</td>
            <td><button id="50" class="buttons">ADD TO CART</button></td>
        </tr>


        <tr>
            <td>WEBMAIL</td>
            <td class="balance">$0.00</td>
            <td  class="info">Inbox mailer
            <td>$50</td>
            <td><button id="50" class="buttons">ADD TO CART</button></td>
        </tr>

        <tr>
            <td>WEBMAIL</td>
            <td class="balance">$0.00</td>
            <td  class="info">Inbox mailer
            <td>$50</td>
            <td><button id="50" class="buttons">ADD TO CART</button></td>
        </tr>

        <tr>
            <td>WEBMAIL</td>
            <td class="balance">$0.00</td>
            <td  class="info">Inbox mailer
            <td>$50</td>
            <td><button id="50" class="buttons">ADD TO CART</button></td>
        </tr>

        <tr>
            <td>WEBMAIL</td>
            <td class="balance">$0.00</td>
            <td  class="info">Inbox mailer
            <td>$50</td>
            <td><button id="50" class="buttons">ADD TO CART</button></td>
        </tr>


        </table>

        </div>




</div>


<script src="scripts/others.js"></script>
</body>
</html>