<%- include ("partials/dashboard.ejs") %>
<!--  -->

    <div class="nav2" style="justify-content: space-evenly;">
        <label id="ShopwithScript" for="">ShopwithScript Log (USA)</label>
        <label id="fundScript" for="">Fundscrip log (Canada)</label>
        
    </div>

    

    <div class="logs">

        <div class="ShopwithScript">

            <h3>ShopwithScript logs</h3>

            <table>
                

                    <th>Bank</th>
                    <th>Balance</th>
                    <th>Info</th>
                    <th>Price</th>
                    <th>Action</th>
    
    
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$2000.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$50</td>
                        <td><button id="40" class="buttons">ADD TO CART</button></td>
                    </tr>
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$4,800.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$65</td>
                        <td><button id="60" class="buttons">ADD TO CART</butto></td>
                    </tr>
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$50,960.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$510</td>
                        <td><button id="510" class="buttons">ADD TO CART</button></td>
                    </tr>
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$7,090.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$105</td>
                        <td><button id="105" class="buttons">ADD TO CART</button></td>
                    </tr>
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$5200.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$85</td>
                        <td><button id="85" class="buttons">ADD TO CART</button></td>
                    </tr>
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$13,000.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$130</td>
                        <td><button id="130" class="buttons">ADD TO CART</button></td>
                    </tr>
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$10150.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$125</td>
                        <td><button id="125" class="buttons">ADD TO CART</button></td>
                    </tr>
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$20,550.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$205</td>
                        <td><button id="205" class="buttons">ADD TO CART</button></td>
                    </tr>
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$18,900.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$186</td>
                        <td><button id="186" class="buttons">ADD TO CART</button></td>
                    </tr>
                    <tr>
                        <td>Shopwithscrip Log (USA)</td>
                        <td class="balance">$30,490.00</td>
                        <td class="info">[Email access + Login : Password] + Name + Address + [Presptopay pin]	</td>
                        <td>$320</td>
                        <td><button id="320" class="buttons">ADD TO CART</button></td>
                    </tr>
            </table>


        </div>






<div class="fundScript Diss">
        <h3>Fundscrip Log (Canada)</h3>
        <table>
                

            <th>Bank</th>
            <th>Balance</th>
            <th>Info</th>
            <th>Price</th>
            <th>Action</th>


            <tr>
                <td>Fundscrip Log(Canada)</td>
                <td class="balance">$15,290.00</td>
                <td class="info">[Email+Password] email access+Otp bot	</td>
                <td>$152</td>
                <td><button id="152" class="buttons">ADD TO CART</button></td>
            </tr>






        </table>
</div>








    </div>

    <script src="/scripts/shopWith.js"></script>
</body>

</html>