
    <%- include ("partials/dashboard.ejs") %>

    <div class="nav2">
        <label id="citiLogs" for="">Citi Log</label>
        <label id="woodForest" for="">WOODFOREST</label>
        <label id="chimeLog">Chime Log</label>
        <label id="NCFU">NCFU log</label>
        <label id="BBVA">BBVA log</label>
        <label id="BBT">BB&T log</label>
        <label id="BOA">BOA log</label>
        <label id="Suntrust">SUNTRUST log</label>
        <label id = "MT">M&T log</label>
        <label id="TD">TD BANKS</label>
        <label id="Hunt">Huntington</label>
        <label id="Chase">Chase Bank</label>
    </div>

    <div class="Logs">

        <div class="woodForest Diss">

            <h3>WOODFOREST</h3>
             <table>

                <th>Bank</th>
                <th>Balance</th>
                <th>Info</th>
                <th>Price</th>
                <th>Action</th>


                <tr>
                    <td>WOODFOREST</td>
                    <td id="110" class="balance">$60,996.00</td>
                    <td id="110" class="info">ISHIKOTE.com [Login:Password]+Name+Address+[Email access]	</td>
                    <td>$110</td>
                    <td><button id="110" class="buttons">ADD TO CART</button></td>
                </tr>
                <tr>
                    <td>WOODFOREST</td>
                    <td id="320" class="balance">$79887.00</td>
                    <td id="320" class="info">ISHIKOTE.com [Login:Password]+Name+Address+[Email access]	</td>
                    <td>$320</td>
                    <td><button  id="320" class="buttons">ADD TO CART</button></td>
                </tr>
                <tr>
                    <td>WOODFOREST</td>
                    <td id="158" class="balance">$15,290.00</td>
                    <td id="158" class="info">ISHIKOTE.com [Login:Password]+Name+Address+[Email access]	</td>
                    <td>$158.00</td>
                    <td><button  id="158" class="buttons">ADD TO CART</button></td>
                </tr>
                <tr>
                    <td>WOODFOREST</td>
                    <td id="111" class="balance">$11550.00</td>
                    <td id="111" class="info">ISHIKOTE.com [Login:Password]+Name+Address+[Email access]	</td>
                    <td>$111.00</td>
                    <td><button  id="111" class="buttons">ADD TO CART</button></td>
                </tr>
               

             </table>

        </div>






       <div class="citiLogs">
        <h3>CITI LOGS</h3>
             <table>

                <th>Bank</th>
                <th>Balance</th>
                <th>Info</th>
                <th>Price</th>
                <th>Action</th>


                <tr class="tableRow">
                    <td>Citi Log</td>
                    <td id="80" class="balance">$8900.00</td>
                    <td id="80" class="info">Citi bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                    <td class="price">$80</td>
                    <td><button id="80" class="buttons">ADD TO CART</button></td>
                </tr>
                <tr>
                    <td>Citi Log</td>
                    <td id="100" class="balance">$15620.00</td>
                    <td id="100" class="info">Citi bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                    <td>$100</td>
                    <td><button id="100" class="buttons">ADD TO CART</button></td>
                </tr>
                <tr>
                    <td>Citi Log</td>
                    <td id="120" class="balance">$11,500.00</td>
                    <td id="120" class="info">Citi bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                    <td>$120</td>
                    <td><button id="120" class="buttons">ADD TO CART</button></td>
                </tr>
                <tr>
                    <td>Citi Log</td>
                    <td id="150" class="balance">$15,150.00</td>
                    <td id="150" class="info">Citi bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                    <td>$150</td>
                    <td><button  id="150" class="buttons">ADD TO CART</button></td>
                </tr>
                <tr>
                    <td>Citi Log</td>
                    <td id="200" class="balance">$20,900.00</td>
                    <td id="200" class="info">Citi bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                    <td>$200</td>
                    <td><button  id="200" class="buttons">ADD TO CART</button></td>
                </tr>

             </table>
       </div>





       <div class="chimeLog Diss">

            <h3>CHIMELOGS</h3>
             <table>

                <th>Bank</th>
                <th>Balance</th>
                <th>Info</th>
                <th>Price</th>
                <th>Action</th>


                <tr>
                    <td>ChimeLog</td>
                    <td id="130" class="balance">$13,500.00</td>
                    <td id="130" class="info">[Chime bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                    <td>$130</td>
                    <td><button  id="130" class="buttons">ADD TO CART</button></td>
                </tr>
                <tr>
                    <td>ChimeLog</td>
                    <td id="180" class="balance">$15,600.00</td>
                    <td id="180" class="info">[Chime bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                    <td>$180</td>
                    <td><button  id="180" class="buttons">ADD TO CART</button></td>
                </tr>
                <tr>
                    <td>ChimeLog</td>
                    <td id="158" class="balance">$5,800.00</td>
                    <td id="158" class="info">ISHIKOTE.com [Login:Password]+Name+Address+[Email access]	</td>
                    <td>$158.00</td>
                    <td><button  id="158" class="buttons">ADD TO CART</button></td>
                </tr>
                
                

               </table>
        
                </div>
               

                <div class="NCFU Diss">

                    <h3>NCFU log</h3>
                     <table>
        
                        <th>Bank</th>
                        <th>Balance</th>
                        <th>Info</th>
                        <th>Price</th>
                        <th>Action</th>
        
        
                        <tr>
                            <td>NCFU log</td>
                            <td id="150" class="balance">$15,996.00</td>
                            <td id="150" class="info">[NCFU bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                            <td>$150</td>
                            <td><button  id="150" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>NCFU log</td>
                            <td id="100" class="balance">$19,00.00</td>
                            <td id="100" class="balance">[NCFU bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                            <td>$100</td>
                            <td><button  id="100" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>NCFU log</td>
                            <td id="148" class="balance">$5,906.00</td>
                            <td id="148" class="info">[NCFU bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                            <td>$148</td>
                            <td><button  id="148" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>NCFU log</td>
                            <td id="185" class="balance">$8,350.00</td>
                            <td id="185" class="info">[NCFU bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                            <td>$185</td>
                            <td><button  id="185" class="buttons">ADD TO CART</button></td>
                        </tr>


                        <tr>
                            <td>NCFU log</td>
                            <td id="215" class="balance">$12,450.00</td>
                            <td id="215" class="info">[NCFU bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]	</td>
                            <td>$215</td>
                            <td><button  id="215" class="buttons">ADD TO CART</button></td>
                        </tr>
                       
        
                     </table>

        </div>
                <div class="BBVA Diss">

                    <h3>BBVA log</h3>
                     <table>
        
                        <th>Bank</th>
                        <th>Balance</th>
                        <th>Info</th>
                        <th>Price</th>
                        <th>Action</th>
        
        
                        <tr>
                            <td>BBVA log</td>
                            <td id="100" class="balance">$15,796.00</td>
                            <td id="100" class="info">[BBVA bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$100</td>
                            <td><button  id="100" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>BBVA log</td>
                            <td id="160" class="balance">$30,806.00</td>
                            <td id="160" class="info">[BBVA bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$160</td>
                            <td><button  id="160" class="buttons">ADD TO CART</button></td>
                        </tr>
                        
                       
        
                     </table>

        </div>


                <div class="BBT Diss">

                    <h3>BB&T log</h3>
                     <table>
        
                        <th>Bank</th>
                        <th>Balance</th>
                        <th>Info</th>
                        <th>Price</th>
                        <th>Action</th>
        
        
                        <tr>
                            <td>BB&T log</td>
                            <td id="150" class="balance">$50,496.00</td>
                            <td id="150" class="info">[BB&T bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$150</td>
                            <td><button  id="150" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>BB&T log</td>
                            <td id="250" class="balance">$76,502.00</td>
                            <td id="250" class="info">[BBVA bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$250</td>
                            <td><button  id="250" class="buttons">ADD TO CART</button></td>
                        </tr>
                        
                       
        
                     </table>

        </div>
                <div class="BOA Diss">

                    <h3>BOA</h3>
                     <table>
        
                        <th>Bank</th>
                        <th>Balance</th>
                        <th>Info</th>
                        <th>Price</th>
                        <th>Action</th>
        
        
                        <tr>
                            <td>BOA</td>
                            <td id="320" class="balance">$11,496.00</td>
                            <td id="320" class="info">BOA.com [Login: password]+Name+[Email access]</td>
                            <td>$320</td>
                            <td><button  id="320" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>BOA</td>
                            <td id="230" class="balance">$9,802.00</td>
                            <td id="230" class="info">BOA.com [Login: password]+Name+[Email access]</td>
                            <td>$230</td>
                            <td><button  id="230" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>BOA</td>
                            <td id="150" class="balance">$5,422.00</td>
                            <td id="150" class="info">BOA.com [Login: password]+Name+[Email access]</td>
                            <td>$150</td>
                            <td><button  id="150" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>BOA</td>
                            <td id="155" class="balance">$5,640.00</td>
                            <td id="155" class="info">BOA.com [Login: password]+Name+[Email access]</td>
                            <td>$155</td>
                            <td><button  id="155" class="buttons">ADD TO CART</button></td>
                        </tr>
                        
                       
        
                     </table>

        </div>
                <div class="Suntrust Diss">

                    <h3>Suntrust Log</h3>
                     <table>
        
                        <th>Bank</th>
                        <th>Balance</th>
                        <th>Info</th>
                        <th>Price</th>
                        <th>Action</th>
        
        
                        <tr>
                            <td>Suntrust log</td>
                            <td id="180" class="balance">$30,766.00</td>
                            <td id="180" class="info">[Suntrust bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$180</td>
                            <td><button  id="180" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>Suntrust log</td>
                            <td id="120" class="balance">$10,642.00</td>
                            <td id="120" class="info">[Suntrust bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$120</td>
                            <td><button  id="120" class="buttons">ADD TO CART</button></td>
                        </tr>
                       
        
                     </table>

        </div>



                <div class="MT Diss">

                    <h3>M&T Log</h3>
                     <table>
        
                        <th>Bank</th>
                        <th>Balance</th>
                        <th>Info</th>
                        <th>Price</th>
                        <th>Action</th>
        
        
                        <tr>
                            <td>M&T log</td>
                            <td id="150" class="balance">$15,421.00</td>
                            <td id="150" class="info">[M&T bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$150</td>
                            <td><button  id="150" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>M&T log</td>
                            <td id="120" class="balance">$9,220.00</td>
                            <td id="120" class="info">[M&T bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$120</td>
                            <td><button  id="120" class="buttons">ADD TO CART</button></td>
                        </tr>
                       
        
                     </table>

        </div>


                <div class="TD Diss">

                    <h3>TD Log</h3>
                     <table>
        
                        <th>Bank</th>
                        <th>Balance</th>
                        <th>Info</th>
                        <th>Price</th>
                        <th>Action</th>
        
        
                        <tr>
                            <td>TD log</td>
                            <td id="150" class="balance">$15,000.00</td>
                            <td id="150" class="info">[TD bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$150</td>
                            <td><button  id="150" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>TD log</td>
                            <td id="100" class="balance">$5,040.00</td>
                            <td id="100" class="info">[TD bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$100</td>
                            <td><button  id="100" class="buttons">ADD TO CART</button></td>
                        </tr>
                       
        
                     </table>

        </div>


                <div class="Hunt Diss">

                    <h3>Huntington Log</h3>
                     <table>
        
                        <th>Bank</th>
                        <th>Balance</th>
                        <th>Info</th>
                        <th>Price</th>
                        <th>Action</th>
        
        
                        <tr>
                            <td>Huntington</td>
                            <td id="150" class="balance">$16,800.00</td>
                            <td id="150" class="info">[Huntington bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$150</td>
                            <td><button  id="150" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>Huntington</td>
                            <td id="250" class="balance">$20,000.00</td>
                            <td id="250" class="info">[Huntington bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$250</td>
                            <td><button  id="250" class="buttons">ADD TO CART</button></td>
                        </tr>
                       
                        <tr>
                            <td>Huntington</td>
                            <td id="150" class="balance">$15,700.00</td>
                            <td id="150" class="info">[Huntington bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$150</td>
                            <td><button  id="150" class="buttons">ADD TO CART</button></td>
                        </tr>
                       
        
                     </table>

        </div>




                <div class="Chase Diss">

                    <h3>Chase BANK</h3>
                     <table>
        
                        <th>Bank</th>
                        <th>Balance</th>
                        <th>Info</th>
                        <th>Price</th>
                        <th>Action</th>
        
        
                        <tr>
                            <td>Chase Bank</td>
                            <td id="180" class="balance">$100,000.00</td>
                            <td id="180" class="info">[Chase bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$180</td>
                            <td><button  id="180" class="buttons">ADD TO CART</button></td>
                        </tr>
                        <tr>
                            <td>Chase Bank</td>
                            <td id="120" class="balance">$70,000.00</td>
                            <td id="120" class="info">[Chase bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$120</td>
                            <td><button  id="120" class="buttons">ADD TO CART</button></td>
                        </tr>
                       
                        <tr>
                            <td>Chase Bank</td>
                            <td id="110" class="balance">$60,560.00</td>
                            <td id="110" class="info">[Chase bank Online Access]+[Account/Routine Number]+[Name And Address]+[Email Access]+[Credit Card Details]</td>
                            <td>$110</td>
                            <td><button  id="110" class="buttons">ADD TO CART</button></td>
              
                        </tr>
                       
        
                     </table>

        </div>





              

     

    </div>

    <script src="scripts/usalogs.js"></script>
</body>