<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/citi.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!-- <script src="scripts/app.js" defer></script> -->
</head>
<body>
    <%- include ("partials/dashboard.ejs") %>


   <div class="main-container">

 
    <section class="list">
  <div class="left-items">
        <ul class="banks">
            <li id="usa"> USA BANKS </li>
            <li id="shop">SHOPWITHSCRIPT</li>
            <li id="uk">UK BANKS</li>
            <li id="other">OTHER TOOLS</li>
            <li id="company">COMPANY FULLZ</li>
            <li id="canada">CANADA BANK</li>
        </ul>
  </div>

</section>

</div>



</body>
</html>